/*
 * Responsive CSS 089-Webdesign
 */

@media(max-width: 320px) {
	body#body.start.phone main#content .item-page.start {
	    transform: scale(0.55);
	}
}
@media(min-width: 321px) and (max-width: 374px) {
	body#body.start.phone main#content .item-page.start {
	    transform: scale(0.65);
	}
}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media (max-width: 767px) {
	body#body.mobile {
	    padding-right: 0px;
	    padding-left: 0px;
	}
}
@media(max-width: 880px) and (orientation: landscape) {
	body#body.phone .modal-content {
	    height: calc(100% + 150px);
	}
	body#body.phone .leistungen-start .nav-kachel--item {
	    -ms-flex-preferred-size: 48%;
	        flex-basis: 48%;
	}
	body#body.phone .leistungen-start .nav-kachel--text__container {
	 	width: 100%;
	}
	body.phone .projekte-start .nav-kachel--item {
	    -ms-flex-preferred-size: 48%;
	        flex-basis: 48%;
	}
	body#body.start.mobile.phone .content {
	    height: 50%;
	}
	body#body.mobile.phone .content-topic--item {
	    margin-bottom: 30px;
	}
	body#body.mobile.phone .content-topic--row.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .content-team--item {
	    width: 490px;
	    margin: 0 auto;
	}
	body.phone .a-team .content-bottom--img {
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
	}	
	body.phone .a-team .content-bottom--text.bckgr-color {
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	}
	body.phone .a-team .content-bottom--text__container {
	    padding: 20px 0px;
	}
}
@media(max-width: 880px) and (orientation: portrait) {
	body.phone .a-team .content-bottom.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body#body.phone .leistungen-start .nav-kachel--text__container {
	    width: 100%;
	}
	body#body.phone .leistungen-start .nav-kachel--text {
	    display: block;
	}
	body.phone .nav-kachel--item {
	    margin-bottom: 60px;
	}
	body.phone .projekte-start .nav-kachel--row.flex {
	    margin-bottom: 0px;
	}
	body.phone .projekte-start .nav-kachel--row.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body#body:not(.phone) .kontakt-info--top {
	    width: 490px;
	}
}
@media(max-width: 880px) {
	/*critical*/
	body.phone a.brand img {
	    position: relative;
	    z-index: 5;
	}
	body#body.phone .leistungen-start .nav-kachel--img img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: 0% 43%;
	}	
	body.phone .content-team--item {
	    margin-bottom: 60px;
	}
	body.phone .content-team--row.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body#body.phone .nav-collapse ul.nav.menu.nav-pills {
	    top: 30px;
	}	
	body#body.phone .navbar {
		position: absolute;
	    top: 30px;
		right: 10px;
	}
	body#body.mobile.phone nav.navbar-wrapper.flex.fullwidth {
	    display: block;
	    width: 100%;
	}
	body#body.phone {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media(max-width: 1280px) {
	body.desktop .innerwidth {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media(max-width: 1366px) and (orientation: portrait) {

	body#body.start .navbar .btn-navbar .icon-bar {
	    box-shadow: 2px 4px 2px #777;
	}
	body#body.mobile .modal-content {
	    width: 80%;
	    top: 10%;
	}
	body.mobile .a-team {
	    margin-bottom: 60px;
	}
	body.mobile .content-bottom--text__container {
	    padding: 20px 0px;
	}
	body.mobile .leistungen-start .nav-kachel--row.flex,
	body.mobile .content-topic--row.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.mobile.tablet .leistungen-start .nav-kachel--img img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
	body.mobile .content-topic--item {
	    margin-bottom: 30px;
	}
	body.mobile .module_bottom {
	    margin: 20px 0px 20px;
	}
}
@media(max-width: 1366px) {
	/*critical*/
	body.mobile .prev:hover,
	body.mobile .next:hover {
	    background-color: rgba(147, 41, 41, 0);
	}
	body.mobile .prev,
	body.mobile .next {
	    text-shadow: 2px 2px 10px #000;
	}	
	body.mobile.mobile .leistungen-start .nav-kachel--text {
	    padding: 10px;
	}
	body.mobile.tablet .leistungen-start .nav-kachel--item,
	body.mobile.phone .leistungen-start .nav-kachel--item {
	    background: #f7f7f7;
	    border-radius: 3px;
	}
	body.mobile.tablet .leistungen-start .nav-kachel--item {
	    margin-bottom: 30px;
	    max-height: 280px;
	}	
	body.mobile #module_111 .bckgr-color {
	    background: #fff;
	}
	body#body.phone .leistungen-start .nav-kachel--img {
	    height: 200px;
	    overflow: hidden;
	}
	body#body.phone .leistungen-start .nav-kachel--text {
	    display: block;
	}	
	body#body.mobile .projekte-start .nav-kachel--text {
	    background: var(--first-color);
	}
	body#body.start.phone .item-page.start {
	    transform: scale(0.75);
	}
	body#body.phone .kontakt-info--top p {
	    font-size: 12px;
	}
	body#body.tablet .kontakt-info--top p {
	    font-size: 14px;
	}	
	body#body.tablet.not_home .page-header h1 {
		font-size: 28px;
	}
	body.tablet.not_home .article-body > h2 {
		font-size: 26px;
	}
	body#body.phone.not_home .page-header h1 {
		font-size: 26px;
	}
	body.phone.not_home .article-body > h2 {
		font-size: 24px;
	} 
	body#body.mobile .modal-no-bs {
		z-index: 5;
	}
	body#body.mobile .navbar {
		z-index: 4;
	}
	body.mobile .header-container {
	    position: relative;
	    left: 25px;
	}
	body#body.start.mobile .content {
	    height: 60%;
	}
	body.mobile .bottom,
	body.mobile.not_home main#content {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	body.mobile .content-bottom--img img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
	body.tablet.start .a-team .content-bottom--img {
	    flex-basis: 50%;
	}
	body.tablet .content-bottom--img {
	    flex-basis: 40%;
	}
	body.tablet.start .a-team .content-bottom--text.bckgr-color {
	    flex-basis: 50%;
	}	
	body.tablet .content-bottom--text.bckgr-color {
	    flex-basis: 60%;
	}

	/*menu*/
	body#body.mobile.not_home .navbar .btn-navbar .icon-bar {
	    background-color: var(--first-color);
	}
	body#body.mobile .dropdown-menu>.active>a,
	body#body.mobile .dropdown-menu>.active>a:focus {
	    background-color: #fff;
	}
	body.mobile ul.nav.menu li a span {
	    color: var(--first-color);
	}
	body.mobile ul.nav.menu li.current.active a span {
	    color: #fff;
	    padding: 3px 5px;
	    background: var(--first-color); 
	    border-radius: 2px; 
	}	
	body.mobile ul.nav.menu li.parent.active > a span {
		padding: 3px 5px;
	    border: 1px solid var(--first-color);
	    border-radius: 2px; 
	}		
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body.mobile .navbar .nav > li {
	    display: block;
	}
	body#body.mobile .nav-collapse,
	body#body.tablet .nav-collapse.collapse {
	    height: 0!important;
	    overflow: hidden!important;
	}
	body.mobile .nav-collapse.collapse {
	    /*position: absolute;*/
	    right: -30px;
	    top: 0;	
	}
	body.mobile .nav-collapse {
	    clear: both;
	}
	body.mobile .nav-collapse ul.nav.menu.nav-pills {
	    background: #fff;
	    width: 100%;
	    top: 60px;
	    -webkit-box-shadow: 0 14px 30px -11px rgba(74,74,74,0);
	    box-shadow: 0 14px 30px -11px rgba(74,74,74,0);
	    border-radius: 0 0 0 10px;
	    padding: 30px 0 10vh;
	    -webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    transform: translateX(100%);
	    -webkit-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.7s cubic-bezier(0.2, 1, 0.8, 1);
	}
	body.mobile .nav-collapse.openMenu ul.nav.menu.nav-pills {
	    -webkit-box-shadow: 0 14px 30px -11px rgba(74,74,74,1);
	    box-shadow: 0 14px 30px -11px rgba(74,74,74,1);
	}	
	body#body.mobile .nav-collapse.collapse.openMenu {
	    height: auto!important;
	   	padding: 0 0 80px 20px;
	}
	body.mobile .nav-collapse.openMenu ul.nav.menu.nav-pills {
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    -webkit-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
	body.mobile .navbar .nav>li {
	    display: block;
	    float: none;
	}
	body.mobile .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}
	body.tablet .nav-collapse.collapse {
	    position: absolute;
	}	
	body.tablet .navbar {
	    margin: 0 30px 0 auto;
	}
	body.mobile .navbar-wrapper {
	    -ms-flex-preferred-size: 75%;
	    flex-basis: 75%;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    color: #fff;
	}
	body#body.mobile ul.nav-child.dropdown-menu {
	    background: transparent;
	    position: initial;
	    float: none;
	    box-shadow: none;
	    border: none;
	}
	body#body.mobile .dropdown-menu:before,
	body#body.mobile .navbar .nav>li>.dropdown-menu:after {
		content: initial;
		display: none !important;
	}
/*	body#body.mobile .navbar .nav li.dropdown>.dropdown-toggle .caret {
		display: none;
	}*/
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    padding: 10px 30px;
	}
	/*END--->menu*/

	/*non-critical*/

	/*galery*/
	body.mobile.phone .custom-lightbox .lightbox-row:first-child {
	    margin-top: 60px;
	}
	body#body.mobile .custom-lightbox h2 {
	    font-size: 18px;
	    margin: 15px 0px 30px;
	}
	body.mobile .row-lightbox {
	    margin-bottom: 60px;
	}	
	body.mobile .pre-column {
	    max-width: 470px;
	}
	body.mobile .lightbox-row.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}

	/*END ---> galery*/
	body.mobile .copyWrapper {
	    text-align: center;
	    font-size: 12px;
	}
	body#body.mobile.start	.leistungen-start .nav-kachel--text h3 {
		font-family: 'montserratbold';
	}

}

@media(max-width: 1440px) {
	body#body.desktop.site .navbar .nav>li a {
	    font-size: 12px;
	    padding: 5px 10px;
	}
	body#body.desktop #wrapper nav.navbar-wrapper div.vcard {
	    -ms-flex-preferred-size: 30%;
	        flex-basis: 30%;
	}
	body#body.desktop #wrapper nav.navbar-wrapper div.navbar {
	    -ms-flex-preferred-size: 70%;
	        flex-basis: 70%;
	}	
}
@media(max-width: 1700px) {
	body#body.desktop nav.navbar-wrapper div.vcard {
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
	}
	body#body.desktop nav.navbar-wrapper div.navbar {
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	}	
}
@media(min-width: 1921px) {
	/*critical*/
	body.desktop .header--img--container {
	    height: 390px;
	}	
	.header--img--container img {
	    -o-object-fit: cover;
	       object-fit: cover;
	    width: 100%;
	    height: 100%;
	}	
}

/*specials*/
@media(max-width: 1023px) {
	body#body.desktop div#wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none !important;
	}
}