/*styles css*/
@font-face {
    font-family: 'montserratbold'; /*hier noch regular Font eintragen*/
    src: url('/templates/089-standard/fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'montserratregular';
    src: url('/templates/089-standard/fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
}

/*Resp overrides*/
@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
}


/* critical CSS */

img[alt=""],
img:not([alt]) {
      border: 5px dashed #c00;

}
:root {
  --first-color: #932929; 
  --second-color: #20b2aa;
}
.first-color {
	color: var(--first-color);
}
.second-color {
	color: var(--second-color);
}
a {
    transition: all .3s ease-in-out;
}
button.btn-navbar:active {
outline: none;
border: none;
}
button.btn-navbar:focus, a:focus {outline:0;}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body {
    font-family: 'montserratregular';
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

body.site .item-page p {
    font-size: 16px;
}
.clr {
    clear: both;
}
.bold {
    font-weight: bold;
}
.uppercase {
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.bckgr-color {
	background: #f7f7f7;
}
.null1-14 {
    letter-spacing: 0.1em;
    line-height: 1.4em;
}
.null2-13 {
    letter-spacing: 0.2em;
    line-height: 1.3em;
}
.null15-17 {
    letter-spacing: 0.15em;
    line-height: 1.7em;
}
.null15-14 {
    letter-spacing: 0.15em;
    line-height: 1.4em;
}

/*content*/
/*.img {
    opacity: 0.9;
}*/
body.start .item-page.start {
    display: flex;
    justify-content: center;
}

/*MIC overrides*/

body.start h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10px;
    left: -25px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.9);
    z-index: -1;
    padding: 0px 0px 15px 0px;
    box-shadow: 0px 0px 35px -15px #464646;
    transform: scaleY(0);
    transition: transform 1s ease-in-out 0.3s;
}

/*Chris Orig Code
body.start h1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: -25px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.9);
    z-index: -1;
    padding: 20px 0px 25px;
    box-shadow: 0px 0px 35px -15px #464646;    
    transform: scaleY(0);
    transition: transform 1s ease-in-out 0.3s;
}
*/

body.start.rdy h1:after {
    transform: scaleY(1);
}

/*MIC overrides*/
body.start h1 {
    font-family: 'montserratregular';
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    width: 460px;
    height: 115px;
}

/*Chris Orig Code
body.start h1 {
    font-family: 'montserratregular';
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    width: 550px;
    height: 123px;  
}
*/

/*MIC overrides*/
span.ani-header-top {
    position: absolute;
    color: #1919198c;
    letter-spacing: 7px;
    font-size: 30px;
    opacity: 0;
    transform: translateY(-30px);
    transition: transform 1.3s cubic-bezier(.02,.78,.34,.99) 1s, opacity 0.9s ease-in-out 1.1s;
    font-weight: normal;
}

/*Chris Orig Code
span.ani-header-top {
    position: absolute;
    color: #555;
    letter-spacing: 7px;
    font-size: 38px;
    opacity: 0;
    transform: translateY(-30px);
    transition: transform 1.3s cubic-bezier(.02,.78,.34,.99) 1s, opacity 0.9s ease-in-out 1.1s;
}
*/

body.rdy span.ani-header-top {
    opacity: 1;
    transform: translateY(10px);
}

/*MIC overrides*/
span.ani-header-bottom {
    position: absolute;
    top: -8px;
    color: #AF544C;
    letter-spacing: 3.3px;
    font-size: 25px;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1.3s cubic-bezier(.02,.78,.34,.99) 1s, opacity 0.9s ease-in-out 1.1s;
    font-weight: normal;
}

/*Chris Orig Code
span.ani-header-bottom {
    position: absolute;
    top: 20px;
    color: #D54B3E;
    letter-spacing: 3.5px;
    font-size: 31px; 
    opacity: 0; 
    transform: translateY(100px);
    transition: transform 1.3s cubic-bezier(.02,.78,.34,.99) 1s, opacity 0.9s ease-in-out 1.1s;  
}
*/


body.rdy span.ani-header-bottom {
    opacity: 1;
    transform: translateY(70px);
}

/*MIC overrides*/
body.start h1::before {
    content: '';
    position: absolute;
    width: calc(100% - 54px );
    height: 2px;
    background: #d6d6d6;
    bottom: 52%;
    left: 0px;
    transform: rotateY(90deg);
    transition: transform 1s ease-in-out 0.7s;
}

/*Chris Orig Code
body.start h1:before {
    content: '';
    position: absolute;
    width: calc(100% - 50px );
    height: 4px;
    background: #d6d6d6;
    bottom: 40%;
    left: 0px;
    transform: rotateY(90deg);
    transition: transform 1s ease-in-out 0.7s;
}
*/

body.start.rdy h1:before {
    transform: rotateY(0deg);
}


body#body.start.desktop .above-the-fold {
    background: url('/images/grandtner-adlwaerth-start-bckgr.jpg') fixed no-repeat;
    background-size: cover;
}
body.start .above-the-fold {
    background: url('/images/grandtner-adlwaerth-start-bckgr.jpg') top left no-repeat;
    background-size: cover;
}
body.start .above-the-fold {
    height: 100vh;
}
nav.navbar-wrapper .vcard {
    display: none;
}
body.start .navbar-wrapper:not(.sticky) .logo--small img {
    /*visibility: hidden;*/
    opacity: 0;
    transition: opacity .1s linear 0s;
}
body.start .navbar-wrapper.sticky .logo--small img {
    /*visibility: visible;*/
    opacity: 1;
    transition: opacity .3s linear .5s;
}
.navbar-wrapper .logo--small img {
    width: 290px;
}
body.desktop .navbar-wrapper .logo--small {
    padding: 25px 0px 25px 40px;
}
ol.breadcrumb {
    font-size: 12px;
    padding: 5px 15px;
}




body.not_home .page-header h1 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.3em;
}
body.deskTab .header--img--container img {
    width: 100%;
}

.header--img--container {
    position: relative;
    z-index: 0;
}
.header--img--container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(69, 72, 77, 0.3)),to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, rgba(69, 72, 77, 0.3) 10%,rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(69, 72, 77, 0.3) 10%,rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}
.header--content {
    position: absolute;
    top: 30%;
    left: calc((100% - 1000px) / 2); /*innerwidth 1180px ?*/
}
body.start .content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body.desktop .item-page.start h1 {
    font-size: 80px;
}
.item-page.start h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 80px;
}
.item-page.start h2 {
    text-transform: uppercase;
    color: var(--first-color);
    font-size: 34px;
}
body.site .page-header {
    border-bottom: none;
}
.logo--small,
nav.navbar-wrapper .vcard {
    padding: 20px;
}
ol.breadcrumb a {
    color: var(--first-color);
}
body.mobile #content .blog {
    padding: 0px 20px;
}
body.site .blog .item {
    margin-bottom: 50px;
}
body.site .blog h2 {
    font-size: 21px;
}
body.site .blog h1 {
    font-size: 28px;
}
body.site .blog p {
    font-size: 14px;
}
body.site .blog .pull-left.item-image {
    max-width: 340px;
    margin-right: 30px;
}
body.site .blog span.icon-chevron-right {
    display: none;
}
body.kontakt form {
    margin-bottom: 80px;
}

.content-topics {
    margin: 0 0 80px 0;
}
.content-team {
    margin: 60px 0px;
}
.content-team--about {
    margin: 0px 0px 60px;   
}
.content-topic--item {
    background: #f7f7f7;
    border-radius: 3px;
}
body.deskTab .content-topic--row.flex,
body.deskTab .content-team--row,
body.deskTab .content-team--about {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.content-topic--row,
.content-team--row {
    margin-bottom: 30px;
}
body.deskTab .content-topic--row div,
body.deskTab .content-team--row div {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
}
body.deskTab .content-team--about div {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;   
}
.content-topic--item h2 {
    font-size: 24px;
}
.content-topic--item h2,
.content-team--about--item h2 {
    position: relative;
    margin: 20px 0px;
    padding-bottom: 20px;
}
.content-topic--item h2:after,
.content-team--about--item h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333;
    height: 1px;
    width: 50px;
}
body.site .item-page .content-topic--item p {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    margin: 0 0 15px;
}
.content-topic--item {
    background: #f7f7f7;
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.content-team--item h2 {
    font-size: 18px;
    margin: 20px 0px 0px;
}
body.site p.comp-pos {
    font-size: 12px;
    color: #000;
    font-weight: bold;
}
body.desktop li.parent>a,
body.desktop .breadcrumb li:nth-child(3) .pathway {
    cursor: text !important;
}
/*<--- END content*/

 /*Menue!*/
body.site .navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;    
}
body.site .navbar .nav li.dropdown.active>.dropdown-toggle .caret {
    border-top-color: var(--first-color);
    border-bottom-color: var(--first-color);
}
body.desktop nav.navbar-wrapper {
    position: fixed;
    opacity: 1;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 40px -20px rgba(74, 74, 74, 0);
            box-shadow: 0px 2px 40px -20px rgba(74, 74, 74, 0);
    transform: translateY(0px);
    animation: fadein 1s ease forwards;
    transition: box-shadow 0.2s linear;
}
body.desktop nav.navbar-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(147, 41, 41, 0);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.8s ease 0.3s;
}
body.desktop nav.navbar-wrapper.sticky:after {
    background: rgba(147, 41, 41, 0.50);
    opacity: 0.95;
}
body.desktop nav.navbar-wrapper.sticky {
    -webkit-box-shadow: 0px 2px 40px -20px rgba(74, 74, 74, 1);
            box-shadow: 0px 2px 40px -20px rgba(74, 74, 74, 1);
    height: 70px;
    opacity: 0;
    -webkit-animation: menuDrop 1s cubic-bezier(.16,.56,.45,.22) forwards;
            animation: menuDrop 1s cubic-bezier(.16,.56,.45,.22) forwards;
    transition: opacity 0.5s ease 1s, box-shadow 0.2s linear 0.3s;            
}
body.desktop nav.navbar-wrapper .logo--small,
body.desktop nav.navbar-wrapper .navbar {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.desktop nav.navbar-wrapper.sticky .logo--small,
body.desktop nav.navbar-wrapper.sticky .navbar {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}
    @-webkit-keyframes menuDrop {
        0% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
        50% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }
    @keyframes menuDrop {
        0% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
        50% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }


body:not(.phone) nav.navbar-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body.desktop nav.navbar-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body:not(.phone) nav.navbar-wrapper .logo-small {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
}
body:not(.phone) nav.navbar-wrapper .navbar {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
}
body#body .navbar .nav>li:not(.active)>a {
    color: #fff;
}
body#body .navbar .nav>li:not(.active):hover>a {
    color: var(--first-color);
}
body#body .navbar .nav>li>a {
    text-shadow: none;
    font-size: 16px;
}
body#body .dropdown-menu {
    border: none;
    box-shadow: -2px 11px 30px -10px #9a9a9a;
}
body#body .dropdown-menu>li>a {
    padding: 10px 20px;
}
body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus {
    color: var(--first-color);
    background-color: transparent;
    text-decoration: none;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: none;
    border-radius: 0px;
    transition: background-color 0.1s;    
}
body#body .navbar-wrapper .navbar .nav>.active>a {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    transition: background-color 0.5s ease-in-out 0.3s;
}
body#body .navbar .nav {
    float: none ;
}
.navbar .nav > li {
  display: inline-block;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}
body.site .dropdown-menu {
    padding: 0px;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
    opacity: 1;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3),
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
    -ms-transform: translateY(0px) translateX(0) rotate(0deg);
    transform: translateY(0px) translateX(0) rotate(0deg);
} 
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(8px) translateX(0) rotate(35deg);
    -ms-transform: translateY(8px) translateX(0) rotate(35deg);
    transform: translateY(8px) translateX(0) rotate(35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(3) {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-35deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-35deg);
    transform: translateY(-8px) translateX(0) rotate(-35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} 
body#body .btn-navbar .icon-bar+.icon-bar {
    margin-top: 4px;
}
body#body .navbar .btn-navbar .icon-bar {
    width: 40px;
    height: 4px;
    box-shadow: none;
}
body#body button.btn.btn-navbar {
    text-shadow: none;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
  /*hover / current active states*/
body#body .dropdown-menu>li>a:hover,
body#body .dropdown-menu>li>a:focus,
body#body .dropdown-submenu:hover>a,
body#body .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #e8e8e8;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}


/*non-critical CSS */
body.kontakt form {
	clear: both;
}
body.kontakt .article-body {
	margin-bottom: 80px;
}
.projekte-start .nav-kachel--text {
    position: absolute;
    bottom: 0;
}
body.site .projekte-start .nav-kachel--text {
    background: #7f7f7f;
}
body.site .leistungen-start .nav-kachel--text h2,
body.site .projekte-start .nav-kachel--text h2 {
    position: relative;
}
body.site .projekte-start .nav-kachel--text h2 {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    padding: 10px;
    margin: 0px;
    z-index: 1;
}
.projekte-start .nav-kachel--row.flex,
.leistungen-start .nav-kachel--row.flex {
    margin-bottom: 30px;
}
.nav-kachel--row.flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body.desktop .projekte-start .nav-kachel--item img {
    transform: scale(1);
    transition: transform 3s ease-in-out;
}
body.desktop .projekte-start .nav-kachel--item:hover img {
    transform: scale(1.5);
    transition: transform 7s ease-in-out;
}
.nav-kachel--item {
    position: relative;
    overflow: hidden;
}
body.desktop .projekte-start .nav-kachel--text {
    overflow: hidden;
}
body.desktop .nav-kachel--item:hover .nav-kachel--text:after {
    transform: translateY(0%);
}
body.desktop .projekte-start .nav-kachel--text:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--first-color);
    z-index: 0;
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
}
.module_bottom h2 {
    font-size: 20px;
}
.top {
    margin: 30px 0px;
}
.module_bottom {
    margin: 60px 0px;
}
.innerwidth.content-bottom--wrapper {
    padding: 20px 0px;
}
.content-bottom.flex {
    background: rgba(255,255,255,0.5);
/*    padding: 0px 20px;*/
    border-radius: 3px;
}
body.deskTab .leistungen-start .nav-kachel--item,
body.deskTab .projekte-start .nav-kachel--item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
}
body.deskTab .leistungen-start .nav-kachel--item a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
body.deskTab .leistungen-start .nav-kachel--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px 15px 40px -10px rgb(119, 119, 119, 0);
    transition: box-shadow 0.3s ease-in-out;    
}
body.desktop .leistungen-start .nav-kachel--item:hover {
    box-shadow: 0px 15px 40px -10px rgb(119, 119, 119, 1);
}
body.deskTab .leistungen-start .nav-kachel--text {
    width: 50%;
}
.leistungen-start .nav-kachel--text h3,
.leistungen-start .nav-kachel--text p {
    font-size: 12px;
    color: #3e3e3e;
    text-decoration: none;
}
body.deskTab .leistungen-start .nav-kachel--item:hover a {
    text-decoration: none;
}
.leistungen-start .nav-kachel--text,
.a-team .content-bottom--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav-kachel--text__container {
    width: 70%;
}
.a-team .content-bottom--text__container {
    width: 80%;
}
.leistungen-start {
    padding-top: 30px;
    padding-bottom: 30px;
}
body.desktop .leistungen-start .nav-kachel--item .nav-kachel--img,
body.desktop .a-team .content-bottom--img {
    position: relative;
}
body.desktop .leistungen-start .nav-kachel--item .nav-kachel--img:after,
body.desktop .a-team .content-bottom--img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(147, 41, 41, 0);
    transition: background 0.2s;
}
body.desktop .leistungen-start .nav-kachel--item:hover .nav-kachel--img:after,
body.desktop .a-team .content-bottom:hover .content-bottom--img:after {
    background: rgb(147, 41, 41, 0.3);   
}
body.desktop .a-team a {
    text-decoration: none;
}
.a-team .content-bottom--text__container p {
    margin: 30px 0px 0px;
}
.a-team .content-bottom--text__container p:first-of-type {
    color: #818181;
}
.a-team .content-bottom--text__container p:last-of-type,
.a-team .content-bottom--text__container h2 {
    color: #333;
}
body:not(.phone) .kontakt-info--top--item {
    width: 50%;
    float: left;
}
body:not(.phone) .kontakt-info--top {
    width: 660px;
    margin: 60px auto;
}


footer.footer {
    background: url('/images/architekten-grandtner-adlwaerth-footer-bckgr.jpg') top left no-repeat;
    background-size: cover;
}
.logo--small__footer img {
    width: 300px;
    box-shadow: 0px 0px 40px -15px #a5a5a5;
}
body.desktop .content-bottom.flex>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.footer--bottom {
    text-align: center;
    padding: 20px 0px;
}
.logo--small__footer {
    margin: 50px 0px;
}
.copyWrapper {
    padding: 10px 0px 20px 20px;
}
body.kontakt i.fa.fa-share {
    display: none;
}
body.kontakt button.ap-btn,
body#body .blog a.btn {
    background: var(--first-color);
    background-image: none;
    border: 1px solid var(--first-color);
    text-shadow: none;
    color: #fff;
    box-shadow: 0px 10px 30px -13px #845050;
    transition: all 0.3s ease-in-out;
}
body.kontakt button.ap-btn:hover,
body#body .blog a.btn:hover {
    color: var(--first-color);
    background: #fff;
}
body.desktop .item-page.impressum,
body.desktop .item-page.datenschutz {
    margin-top: 140px;
}
footer.footer a {
    color: var(--first-color);
}



/*slider / lightbox*/
body.desktop .row-lightbox {
    width: 470px;
}
[class^="mySlides"] img {
    width: 100%;
}
.pre-column {
    position: relative;
    overflow: hidden;
    cursor: pointer; 
}
.pre-column:before {
    content: '';
    position: absolute;
    background: url(/images/lupe.png);
    width: 60px;
    height: 60px;
    left: calc((100% - 40px) / 2);
    top: calc((100% - 40px) / 2);
    z-index: 1;
}
body.desktop .pre-column:before {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
    @-webkit-keyframes jumpingIcon {
        0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
        50% {-webkit-transform: translateY(-5px);transform: translateY(-5px); }
        100% {-webkit-transform: translateY(0px);transform: translateY(0px); }
    }
    @keyframes jumpingIcon {
        0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
        50% {-webkit-transform: translateY(-5px);transform: translateY(-5px); }
        100% {-webkit-transform: translateY(0px);transform: translateY(0px); }
    }
body.desktop .pre-column:hover:before {
    -webkit-animation: jumpingIcon 1.1s cubic-bezier(.09,1.53,1,1.6) infinite 0.5s;
            animation: jumpingIcon 1.1s cubic-bezier(.09,1.53,1,1.6) infinite 0.5s;
}
.pre-column:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 0;
    transition: background 0.3s ease-in-out;
}
.pre-column:hover:after {
    background: rgba(147, 41, 41, 0.50);
}
span.lightbox-hint {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 18px;
    width: 100%;
    opacity: 0;
    z-index: 1;
    text-shadow: 2px 2px 3px #333;
    transform: translate(170px, 250px);
    transition: all 0.5s ease-in-out;
}
.pre-column:hover span.lightbox-hint {
    opacity: 1;
    transform: translate(170px, 170px);
}
.bauen-bestand h2 {
    font-size: 20px;
    margin: 30px 0px;
}
.bauen-bestand h3 {
    font-size: 16px;
}
body.deskTab .lightbox-row.flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 60px 0px 80px;
}
[id^="myModal"] {
    opacity: 0;
}
[id^="myModal"].sliderOpen {
    -webkit-animation: sliderFade 0.5s ease-in-out forwards;
            animation: sliderFade 0.5s ease-in-out forwards;
}
[class^="mySlides"] {
    opacity: 0;
    border-radius: 3px;
    overflow: hidden;    
}
[class^="mySlides"].mySlideCurrent {
    -webkit-animation: sliderFade 0.5s ease-in-out forwards;
            animation: sliderFade 0.5s ease-in-out forwards;
}
    @-webkit-keyframes sliderFade {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    @keyframes sliderFade {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
.row-lightbox > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 25%;
}
.column {
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.modal-no-bs {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}
.modal-content {
  position: relative;
  background-color: rgba(0,0,0,0.3);
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1000px;
}
body#body .close {
    color: #fff;
    position: absolute;
    top: 30px;
    right: 45px;
    font-size: 65px;
    font-weight: normal;
    opacity: 1;
    text-shadow: none;
}

body#body .close:hover,
body#body .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: normal;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(147, 41, 41, 0.7);
    color: #fff;
}

/* Nummer text (1/3 etc) */
.numbertext {
  color: #333;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: var(--first-color);
  padding: 4px 16px;
  color: white;
}
.caption-container p {
    margin-bottom: 0px;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

body.desktop .pre-column {
    box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0); 
    transition: box-shadow 0.3s;
}

body.desktop .hover-shadow:hover {
  box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.8);
}   

/*<----- END slider / lightBOX*/

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}


body.Firefox .scroll-top-wrapper {
    font-weight: bold;
    line-height: 35px;
}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 4;
    background-color: var(--first-color);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 45px;
    right: 5%;
    bottom: 10%;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 30px;
    border: 2px solid var(--first-color);
}
body.desktop .scroll-top-wrapper:hover {
    color: var(--first-color);
    background-color: transparent;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.6;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/*cookie control*/
body#body #cookiesck {
    box-shadow:  0px -11px 40px -5px rgba(0, 0, 0, 0.4);
}
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
/*    font-size: 16px;*/
}
body#body #cookiesck_accept {
    background: #fff;
    color: #b4130e;
    float: none;
    width: 110px;
    margin: 20px auto 0px !important;
    border: 1px solid #b4130e;
}
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    padding: 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
/*    font-size: 16px;*/
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #fff;
    background: transparent;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #b4130e;
    color: #fff;
    border-color: #fff;
}
@media(max-width: 1280px) {
	body#body.mobile #cookiesck_accept {
	    width: 100px;
	    padding: 5px;
	}
	body#body.site div#cookiesck span,
	body#body.site div#cookiesck a,
	body#body.site div#cookiesck p {
	  font-size: 12px !important;
	}
	body#body.site #cookiesck_readmore {
	  padding: 0px !important;
	}
	body#body.site #cookiesck_accept {
	  float: none !important;
	  margin: 10px auto !important;
	}
	body#body.site #cookiesck {
	  line-height: 25px !important;
	}
}
@media(max-width: 1366px) {
  body#body.site #cookiesck {
      text-align: center;
  }	
  body#body.mobile #cookiesck_accept {
      width: 110px;
  }
}

a.cookieImp,
body#body #cookiesck_readmore {
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    color: #fff;
}
body#body a.cookieImp:hover,
body#body #cookiesck_readmore:hover {
    color: #777;
    text-shadow:none;
}